body {
    margin: 0;
    padding: 0;
    background-color: #282828;
}

main {
    height: 20em;
}

.cards_aling {
    display: grid;
    place-items: center;
    margin-top: 10em;
    transition: 0.5s ease-in-out;
}

.cards {
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 150px;
    height: 250px;
    transition: 0.5s ease-in-out;
}

.cards:nth-child(1) {
    background-color: aqua;
    transform:
        translateX(-7em) scale(75%);
}

.cards:nth-child(2) {
    background-color: blue;
    transform:
        translateX(-5em) scale(85%);
}

.cards:nth-child(3) {
    background-color: purple;
    transform:
        translateX(-3em) scale(95%);
}

.cards:nth-child(4) {
    background-color: aqua;
    transform:
        translateX(7em) scale(75%);
}

.cards:nth-child(5) {
    background-color: blue;
    transform:
        translateX(5em) scale(85%);
}

.cards:nth-child(6) {
    background-color: purple;
    transform:
        translateX(3em) scale(95%);
}

.cards:nth-child(7) {
    background-color: white;
    position: relative;
    z-index: 1;
}

.cards_aling:hover>.cards:nth-child(1) {
    transform:
        translateX(-35em) scale(100%);
}

.cards_aling:hover>.cards:nth-child(2) {
    transform:
        translateX(-23em) scale(100%);
}

.cards_aling:hover>.cards:nth-child(3) {
    transform:
        translateX(-11em) scale(100%);
}

.cards_aling:hover>.cards:nth-child(4) {
    transform:
        translateX(35em) scale(100%);
}

.cards_aling:hover>.cards:nth-child(5) {
    transform:
        translateX(23em) scale(100%);
}

.cards_aling:hover>.cards:nth-child(6) {
    transform:
        translateX(11em) scale(100%);
}

.cards:hover {
    padding: 10px;
}
